<div class="form-group">
  <label for="description" class="col-sm-2 control-label">Description</label>
  <div class="col-sm-10">
    <input type="text" ng-model="expense.description" class="form-control" id="description" placeholder="Expense description here"/>
  </div>
</div>
<div class="form-group">
  <label for="amount" class="col-sm-2 control-label">Amount</label>
  <div class="col-sm-10">
    <input type="text" ng-model="expense.amount" class="form-control" id="amount" placeholder="$"/>
  </div>
</div>
<div class="form-group">
  <label for="comment" class="col-sm-2 control-label">Comment</label>
  <div class="col-sm-10">
    <input type="text" ng-model="expense.comment" class="form-control" id="comment" placeholder="Any comments about the expense?"/>
  </div>
</div>
<div class="form-group">
  <label for="date_time" class="col-sm-2 control-label">Date and time</label>
  <div class="col-sm-10">
    <div class="dropdown">
      <a class="dropdown-toggle" id="dropdown" role="button" data-toggle="dropdown" data-target="#" href="#">
        <div class="input-group"><input type="text" class="form-control" data-ng-model="expense.date_time"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        </div>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <datetimepicker data-ng-model="expense.date_time" data-datetimepicker-config="{ dropdownSelector: '#dropdown' }"/>
      </ul>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <input type="submit" class="btn btn-primary" value="Save"/>
  </div>
</div>