<div class="row">

    <h1 class="page-header">
        Expenses
        <small>Listing</small>

        <button ng-click="createExpense()" class="btn btn-primary pull-right">New expense</button>
    </h1>

    <div class="span6" ng-show="expenses.length">
        <table ng-table="tableParams" show-filter="true" class="table ng-table-rowselected">
            <tr ng-repeat="expense in $data" ng-click="changeSelection(expense)" ng-class="{'active': expense.$selected}">
                <td data-title="'Description'" sortable="'description'" filter="{ 'description': 'text' }">{{ expense.description }}</td>
                <td data-title="'Amount'" sortable="'amount'">{{ expense.amount | currency }}</td>
                <td data-title="'Date'" sortable="'date_time'">{{ expense.date_time | date:'yyyy-MM-dd' }}</td>
                <td data-title="'Time'" sortable="'date_time'">{{ expense.date_time | date:'HH:mm:ss' }}</td>
                <td data-title="'Comment'"><div class="comment">{{ expense.comment }}</div></td>
                <td><a ng-click="editExpense(expense)" class="btn btn-small btn-primary">edit</a></td>
                <td><a ng-click="deleteExpense(expense)" class="btn btn-small btn-danger">delete</a></td>
            </tr>
        </table>
    </div>

    <div class="span6" ng-hide="expenses.length">
        <div class="hero-unit">
            <h3>Nothing here =(</h3>
            You may <a ng-click="createExpense()">create new expenses</a> as you wish
        </div>
    </div>
</div>