<div class="row">

    <h1 class="page-header">
      Expenses
      <small>Listing</small>
    </h1>

    <button ng-click="createExpense()" class="btn">New expense</button>

    <div class="span6">
        <table ng-table>
            <thead>
            <tr>
                <th style="min-width: 80px;">Description</th>
                <th style="min-width: 80px;">Amount</th>
                <th style="width:20px;"> </th>
                <th style="width:20px;"> </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="expense in expenses">
                <td>{{ expense.description }}</td>
                <td>{{ expense.amount }}</td>
                <td><a ng-click="editExpense(expense.id)" class="btn btn-small btn-primary">edit</a></td>
                <td><a ng-click="deleteExpense(expense.id)" class="btn btn-small btn-danger">delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>